<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/boardStyle.css">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/board.js" defer></script>

</head>

<body onload="onPageLoad()">

    <div class="btn-left">
        <form id="setDevice" method="GET" action="/index">
            <button class="btn2">Home</button>
        </form>
        <form id="leaving" method="GET" action="/sessionLeave/<%=game.gameCode%>">
            <button class="btn2">Leave Session</button>
        </form>
    </div>

    <div class="playerList">

        <% for(let i=0; i < 4; i++) {%>

            <div id="P<%=i+1%>" style="border: 3px solid black;" class="playerListColor<%=i+1%>">

                <%= game.playerNames[i] %>

            </div>

            <%}%>

    </div>

    <div class="bingoTitle<%=game.bal%>">

        <%for(let i=0; i < game.bal; i++) { %>
            <div style="border: 3px solid black;" class="bingoTitleColor" playerPosition="P<%=i+1%>">
                <%= titleArr[i] %>
            </div>
            <%}%>

    </div>

    <div id="board" class="board<%=game.bal%>">

        <% for( let x=0; x < game.bal; x++ ) { %>
            <% for( let y=0; y < game.bal; y++ ) { %>
                <% /* We set the x and y coordinate of the cell so we can figure out which cell was clicked */ %>
                    <div style="border: 3px solid black;" x="<%= x %>" y="<%= y %>" z="<%= game.bal %>"
                        position=<%=position %>

                        <% /* Set either the "chosen" or "empty" class for styling */ %>
                            class="cell <%= game.board[x][y] ? `chosenP${game.owner[x][y]}` : 'empty' %>">

                                <!-- Set the text for the cell -->
                                <%= game.binObj[x][y] %>

                    </div>
                    <% } %>
                        <% } %>
    </div>

</body>



</html>